packages:
  yum:
    gcc: []
    patch: []
    glibc-devel.i686: []
    python27-devel: []
    postgresql93-devel: []
    libjpeg-turbo-devel: []
    libffi-devel: []
    libxml2-devel: []
    libxslt-devel: []

container_commands:
  01_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'

  02_migrate:
    command: "django-admin.py migrate"
    leader_only: true

  03_collectstatic:
    command: "django-admin.py collectstatic --noinput"

  04_firstuser:
    command: "django-admin.py firstuser"




option_settings:
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: haishin_project/wsgi.py
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: static/
  - option_name: DJANGO_SETTINGS_MODULE
    value: haishin_project.settings
